@page "/profile"
@using Routeorama.Authentication
@using System.Globalization
@using System.Threading
@inject AuthenticationStateProvider _provider;
@inject NavigationManager _navigationManager;

<AuthorizeView>
    <NotAuthorized>
        <Login/>
    </NotAuthorized>
    <Authorized>
        <Nav/>
        <div class="profile">
            <div class="profile-card">
                <div class="profile-card-up">
                    @if (_currentUser.photo != null)
                    {
                        <div class="profile-image" style="background-image: url(@("data:" + _currentUser.photoType + ";base64," + Convert.ToBase64String(_currentUser.photo))) ">
                            <label for="profile-update">
                                <div class="profile-image-inner">
                                    <img alt="" src="icons/image.svg">
                                </div>
                            </label>
                            <InputFile id="profile-update" OnChange="@OnFileSelection"></InputFile>
                        </div>
                    }
                    else
                    {
                        <div class="profile-image" style="background-image: url(@url)">
                            <label for="profile-update">
                                <div class="profile-image-inner">
                                    <img alt="" src="icons/image.svg">
                                </div>
                            </label>
                            <InputFile id="profile-update" OnChange="@OnFileSelection"></InputFile>
                        </div>
                    }
                    <div class="profile-owner">
                        @_currentUser.displayName
                    </div>
                    <div class="profile-data">
                        <div class="profile-data-group">
                            <img alt="" src="icons/user.svg">
                            @_currentUser.username
                        </div>
                        <div class="profile-data-group">
                            <img alt="" src="icons/envelope.svg">
                            @_currentUser.email
                        </div>
                        <div class="profile-data-group">
                            <img alt="" src="icons/birthday-cake.svg">
                            @_currentUser.dob
                        </div>
                    </div>
                </div>
                <div class="profile-card-down">
                    <div class="profile-edit-button" @onclick="OpenModal">
                        Edit
                        <img alt="" src="icons/edit.svg">
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-edit-modal @_open">
            <div class="profile-edit-modal-inner">
                <div class="profile-edit-modal-top">
                    <div class="profile-edit-modal-title">
                        Edit profile
                    </div>
                    <div class="profile-edit-close-button" @onclick="CloseModal">
                        <img alt="" width="16" height="16" src="icons/close.svg">
                    </div>
                </div>
                <div class="profile-edit-modal-group">
                    <div class="profile-edit-modal-input">
                        <div>
                            Username
                        </div>
                        <input type="text" id="username" placeholder="New username.." @bind-value="_username">
                    </div>
                    <div class="profile-edit-modal-input">
                        <div>
                            Display name
                        </div>
                        <input type="text" id="display-name" placeholder="New display name.." @bind-value="_displayName">
                    </div>
                    <div class="profile-edit-modal-input">
                        <div>
                            Email
                        </div>
                        <input type="text" id="email" placeholder="New email.." @bind-value="_email">
                    </div>
                    <div class="profile-edit-modal-input">
                        <div>
                            Password
                        </div>
                        <input type="password" id="password" placeholder="New password.." @bind-value="_password">
                    </div>
                    <div class="profile-edit-modal-input">
                        <div>
                            Repeat password
                        </div>
                        <input type="password" id="repeatpassword" placeholder="Repeat password.." @bind-value="_repeatPassword">
                    </div>
                    <div class="profile-edit-modal-input">
                        <div>
                            Date of birth
                            <RadzenDatePicker @bind-Value=@_value DateFormat="d" Change=@(args => OnChange(args, "DatePicker", "yyyy-MM-dd"))></RadzenDatePicker>
                        </div>
                        
                    </div>
                    <div class="errorLabel">@errorLabel</div>
                </div>
                <div class="profile-edit-modal-actions">
                    <div class="profile-save-changes" @onclick="SaveChanges">
                        Save
                    </div>
                    <div class="profile-cancel-changes" @onclick="CloseModal">
                        Cancel
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private User _currentUser;
    private string _username;
    private string _password;
    private string _email;
    private string _displayName;
    private string _dateOfBirth;
    private DateTime? _value = DateTime.Now;

    private byte[] _byteArray = {};

    private string _imageType = "";
    private string _open = ".";
    private bool _isModalOpen = false;
    private string errorLabel = "";
    private int userid;
    private string url = "";

    private string _repeatPassword;

    protected override async void OnInitialized()
    {
        _currentUser = await ((CustomAuthenticationStateProvider) _provider).GetUser();
        if (_currentUser.photo == null)
        {
            url = null;
        }
        else
        {
            url = "data:" + _currentUser.photoType + ";base64," + Convert.ToBase64String(_currentUser.photo);
        }
        StateHasChanged();
    }

    private void OnChange(DateTime? args, string datepicker, string yyyyMMdd)
    {
        if (_value != null) _dateOfBirth = _value.Value.ToString("yyyy-MM-dd", DateTimeFormatInfo.InvariantInfo);
    }

    private async void OnFileSelection(InputFileChangeEventArgs e)
    {
        var imgFile = e.File;
        _imageType = imgFile.ContentType;
        var buffers = new byte[imgFile.Size];
        await imgFile.OpenReadStream(512000000, new CancellationToken(default)).ReadAsync(buffers);
        _byteArray = buffers;

        var user = new User
        {
            userId = _currentUser.userId,
            username = _currentUser.username,
            password = _currentUser.password,
            dob = _currentUser.dob,
            email = _currentUser.email,
            role = RoleEnum.user,
            displayName = _currentUser.displayName,
            photo = _byteArray,
            photoType = _imageType
        };
        var response = await ((CustomAuthenticationStateProvider) _provider).UpdateUser(user);
        errorLabel = response;
        Console.WriteLine(response);
        if (response.Equals("Update of the profile successful"))
            _navigationManager.NavigateTo(_navigationManager.Uri, forceLoad: true);
    }

    private void OpenModal()
    {
        _username = _currentUser.username;
        _password = _currentUser.password;
        _email = _currentUser.email;
        _displayName = _currentUser.displayName;
        _dateOfBirth = _currentUser.dob;
        _value = DateTime.Parse(_dateOfBirth);
        _repeatPassword = _currentUser.password;
        if (_isModalOpen) return;
        _open = "open";
        _isModalOpen = true;
    }

    private void CloseModal()
    {
        if (!_isModalOpen) return;
        _open = ".";
        _isModalOpen = false;
    }

    private async void SaveChanges()
    {
        try
        {
            var user = new User
            {
                userId = _currentUser.userId,
                username = _username,
                password = _password,
                dob = _dateOfBirth,
                email = _email,
                role = RoleEnum.user,
                displayName = _displayName,
                photo = new byte[]
                {},
                photoType = ""
            };
            if (string.IsNullOrEmpty(user.username) && string.IsNullOrEmpty(user.password) &&
                string.IsNullOrEmpty(user.displayName) &&
                string.IsNullOrEmpty(user.email)) throw new Exception("Enter credentials");

            if (string.IsNullOrEmpty(user.username)) throw new Exception("Enter username");
            if (user.username.Length is < 5 or > 30)
                throw new Exception("Username has to be between 5 and 30 characters");

            if (string.IsNullOrEmpty(user.email)) throw new Exception("Enter email");
            if (!user.email.Contains("@"))
                throw new Exception("Email has to be specified");

            if (string.IsNullOrEmpty(user.password)) throw new Exception("Enter password");
            if (user.password.Length is < 5 or > 30)
                throw new Exception("Password has to be between 5 and 30 characters");

            if (string.IsNullOrEmpty(user.displayName)) throw new Exception("Enter display name");
            if (user.displayName.Length is < 5 or > 30)
                throw new Exception("Display name has to be between 5 and 30 characters");

            if (string.IsNullOrEmpty(user.dob)) throw new Exception("Enter date of birth");


            if (!_password.Equals(_repeatPassword))
                throw new Exception("Passwords do not match.");

            var response = await ((CustomAuthenticationStateProvider) _provider).UpdateUser(user);
            errorLabel = response;
            Console.WriteLine(response);
            if (response.Equals("Update of the profile successful"))
            {
                CloseModal();
                _navigationManager.NavigateTo(_navigationManager.Uri, forceLoad: true);
            }
            else if (response.Equals("Update of the profile un-successful"))
            {
                errorLabel = response;
            }
        }
        catch (Exception e)
        {
            errorLabel = e.Message;
        }
    }

}